@font-face {
  font-family: 'DINCondensed Bold';
  src: url('./DIN\ Condensed\ Bold.ttf');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'GillSans';
  src: url('./GillSans.ttf');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #ffdac9;
}

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  font-family: 'Encode Sans Expanded', sans-serif;
  scroll-behavior: smooth;
}
